#Otro de alguien que no conozco

In [2]:
import random 
numero1=[random.randint(0,2000) for x in range(100)]
numero2=[random.randint(0,2000) for x in range(100)]
comun=[]
comun=list(filter(lambda num:num in numero1, numero2))
print(comun)

[542, 1742, 703, 1345]

In [3]:
numero1=[random.randint(0,2000) for x in range(100)]
numero2=[random.randint(0,2000) for x in range(100)]
comun=[]
for a in numero1:
  for b in numero2:
    if a == b:
      comun.append(a)
print(comun)

[623, 1652]

In [17]:
import random
numero1=[random.randint(0,2000) for x in range(100)]
numero2=[random.randint(0,2000) for x in range(100)]
comun=[x for x in numero1 for y in numero2 if x==y]
print(comun)

[1738, 1738, 182, 449, 1409, 1963, 1145, 372, 1340, 1191]

#Otro de alguien que no sé quién es

In [18]:
lambda_func=lambda x:x**2
lambda_func(3)

9

In [20]:
def square1(num):
  return num**2
print(square1(5))

25

In [19]:
L=[1,2,3,4]
L2=[n**2 for n in L]
print(L2)

[1, 4, 9, 16]

#Otro

In [22]:
nom1=['Samuelle', 'Angie', 'Valentina', 'Alejandro', 'Jonsito']
nom2=['Samuelle', 'Andrea', 'Sandra', 'Anderson', 'Jonsito']

In [23]:
common={a for a in nom1 for b in nom2 if a==b}
common

{'Jonsito', 'Samuelle'}

In [24]:
common1=lambda nom1, nom2:common
print(common1(nom1, nom2))

{'Samuelle', 'Jonsito'}

In [26]:
def common(nom1, nom2):
  return nom1, nom2

In [27]:
nom1, nom2

(['Samuelle', 'Angie', 'Valentina', 'Alejandro', 'Jonsito'],
 ['Samuelle', 'Andrea', 'Sandra', 'Anderson', 'Jonsito'])

In [ ]:
def listaIMC(usuarios):
  sis=[]
  imc=[]
  b=0
  a2=0
  for n in range (usuarios):
    w=input('¿Cuál es tu nombre?: ')
    b=int(input('Ingresa el peso: '))
    a2=int(input('Ingresa la altura: '))
    sis.append(w, b/a2**2)
    imc.append(b/a2**2)
  return sis, imc

user=int(input("¿Cuántos usuarios hay?"))

sis,imc=listaIMC(user)

In [ ]:
sis=listaIMC(user)
sis2=[n for n in imc if n>=18.5]
print(sis2)

In [ ]:
sis3=list(map(lambda x: 'Peso insuficiente' if x<18.5 else 'Peso normal' if (x>=18.5 and x<24.9) else 'Sobrepeso' if (x>= 24.9 and x<30) else 'Obeso', imc))

#Otro

In [ ]:
print('Ingrese su código: ')
caracter=input()
if len(caracter)==8:
  if caracter(0)=='u':
    print('Eres estudiante Unab')
  elif (caracter.startwith('a000')):
    print("Eres estudiante de Los Andes")
  else:
    if(int(caracter)>=1950):
      print('Eres estudiante UIS')

else:
  print('Tú código no corresponde a ninguna universidad, revísalo')

In [ ]:
universidades=['unab', 'uis', 'andes']
código=['U0123456', '198562', 'a0005645']

u=[cod for cod in código if (cod[0]=='u' and len(cod)==8)]
print(u)

In [ ]:
y=list(map(lambda x:'unab' if (x[0]=='U' or x[0]=="u") else None, código))
print(y)

['unab', None, None]

#Otro

In [ ]:
lista=[]
x=0
while x==0:
  entrada = input('Ingresa un código')
  lista.append(entrada)
  a=int(input('¿Desde ingresar otro?, Ingresa 0 si lo deseas, de lo contrario ingresa 1'))
  if(a==1):
    x=x+1

clasificacion=[a for a in lista if a.startwith('U00') and len(a)==9]
print(f'Hay {len(clasificacion)} estudiante(s) de los Andes y sus código(s) son {clasificacion}')

clasificacion = [a for a in lista if a.startwith("A000") and len(a)==9]
print(f'Hay {len(clasificacion)} estudiante(s) de los Andes y sus códigos son {clasificacion}')

In [ ]:
def funcion(lista, numDigitos, Universidad, clasCodigo):
  clasificacion=[a for a in lista if a.startwith(clasCodigo) and len(a)==numDigitos]
  print(f'Hay (len')